@keyframes line-in { to { transform:scaleX(1); } }
@keyframes text-in { to { opacity:1; transform:translateY(0); } }

:root {
    --bg-color: #121e28;
    --bg-light: #17232d;
    --accent-color: #ff705a;
    --text-color: #c9d1d9;
    --muted-text: #8b949e;

    --poppins: 'Poppins', sans-serif;
}

body {
    background-color: var(--bg-color);
    font-family: var(--poppins);
}

.container {
    max-width: 720px;
    margin-inline: auto;
    padding: 1rem;
}
header {
    padding-block: 1rem;
    border-bottom: 1px solid var(--accent-color);
}
header h1 {
    font-family: var(--poppins);
    color: var(--text-color);
    font-size: 3.5rem;
    opacity:0;
    transform:translateX(30px);
    animation:text-in 2000ms 120ms ease-out forwards;
}
header p {
    font-family: var(--poppins);
    color: var(--muted-text);
    font-size: 1.1rem;
}
#dot {
    font-family: var(--poppins);
    color: var(--accent-color);

/*----------------------------------------*/
}
form {
    display: grid;
    gap: .75rem;
    margin-block: 1rem;
}
label {
    font-family: var(--poppins);
    color: var(--text-color);
    display: grid;
    gap: .25rem;
}
input {
    background-color: var(--bg-light);
    color: var(--accent-color);
    padding: .5rem;
    border: none;
    border-radius: 3px;
}
.add-btn {
    margin: 0 auto;
    width: 20rem;
    padding: 0.6rem 0.9rem;
}
button {
    font-family: var(--poppins);
    color: var(--text-color);
    background-color: var(--accent-color);
    border: solid;
    border-radius: 3px;
    border-color: var(--accent-color);
}
button:hover {
    background-color: var(--bg-light);
    transition: background 300ms ease-out;
}
.error {
    font-family: var(--poppins);
    text-align: center;
    color: #d82d4d;
    min-height: 1.25rem;
}
.delete-btn {
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: #d82d4d;
    border-color: #d82d4d;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}
.delete-btn:hover {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    transform: scale(1.1);
    transition: transform 120ms ease-out, background 120ms ease-out;
}
#bookmark-section h2{
    font-family: var(--poppins);
    color: var(--text-color);
}
#bookmark-section p {
    font-family: var(--poppins);
    color: var(--muted-text);
}
#bookmark-list {
    color: var(--text-color);
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    gap: 0.5rem;
}
#bookmark-list a {
    color: var(--accent-color);
    word-break: break-all;
    text-decoration: none;
}
#bookmark-list a:hover {
    color: var(--text-color);
}
#bookmark-list li {
    background-color: var(--bg-light);
    border-radius: 3px;
    padding: 0.75rem 1rem;
}
#bookmark-list li a {
    display: inline-block;
    margin-top: 0.25rem;
}
#bookmark-list li .delete-btn {
    float: right;
}


.hidden {
    display: none;
}

